# Git
.git
.gitignore

# Environment & Secrets
.env
.env.*

# Python virtual environments & caches
.venv
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Tests & Documentation assets
tests/
screenshots/
*.md
